<body>
<div class="roomArchivetitle fleft" id="roomArchives"><div class="archive-icon"></div>
Archive
<a href="javascript:void(0)" class="closebtn">&times;</a></div>
<!-- <div class="close" id="rigthClose">X</div>
<hr/> -->
<div class="roomArchive">
<%
	data.forEach(function(log, index) {
		if(search == null || log.send_id.name.indexOf(search)>-1 || log.rece_id.name.indexOf(search)>-1|| log.name.indexOf(search)>-1 ){
			if(log.rtype != 'image'){
%>
		 		<div>
				  			 

		 				<div class="filebox-archive" id="<%= log.url %>">

				  			<!--css ppt icon  -->
				  			<% if(log.type == 'pptx'){ %>
				  			<div class="url" >
				  				<div class="pptx-archive"></div>
				  			</div>
				  			<% } %>
				  			<!--css xlsx icon  -->
				  			<% if(log.type == 'xlsx'){ %>
				  			<div class="url" >
				  				<div class="xlsx-archive"></div>
				  			</div>
				  			<% } %>
				  			<!--css pdf icon  -->
				  			<% if(log.type == 'pdf'){ %>
				  			<div class="url" >
				  				<div class="pdf-archive"></div>
				  			</div>
				  			<% } %>
				  			<!--css doc icon  -->
				  			<% if(log.type == 'docx'){ %>
				  			<div class="url" >
				  				<div class="docx-archive"></div>
				  			</div>
				  			<% } %>
				  			<!--css doc icon  -->
				  			<% if(log.type == 'zip'){ %>
				  			<div class="url" >
				  				<div class="zip-archive"></div>
				  			</div>
				  			<% } %>
				  		<div class="archive-textbox">
				 			<div id="filename"><%= log.name %></div>
				 			<% if(log.send_id.email == user ){ %>
				 			<div class="username">to : <%= log.rece_id.name %></div>
				 			<% }else{ %>
				 			<div class="username">from : <%= log.send_id.name %></div>
				 			<% } %>
				 			<div class="username"><%= moment(log.date).format('YY.MM.DD [(]dd[)] h:mm a') %></div>
		 				</div>
		 			<!-- <a type="button" href="<%= log.url %>" style="float:right;">Down</a> -->
		 		</div>
<%			}	
		}
	});
%>		
</div></div>

</body>