<body>
 	<% data.forEach(function(log, index) { 
 		if(log.name.indexOf(search)>-1 || log.type.indexOf(search)>-1 || log.rtype.indexOf(search)>-1|| log.rece_id.name.indexOf(search)>-1|| log.send_id.name.indexOf(search)>-1){
 	%>
		<div>
			<span><%= moment(log.date).format('YY.MM.DD [(]dd[)] h:mm a') %></span>
			<span><%= log.name %></span><br/>
			<span><%= log.rtype %></span>
			<h6>From : <%= log.send_id.name %></h6>
			<h6>to : <%= log.rece_id.name %></h6>
			<a type="button" href="<%= log.url %>" style="float:right;">Down</a>
  			<% if(log.rtype == 'image'){ %>
				<div class="url">
					<img alt="<%= log.name %>" src="<%= log.url %>">
				</div>
			<% } %>
		</div>
		<hr/>
	<% 	}
	}); %>
</body>