<body>
<div class="roomArchivetitle fleft" id="roomGallery"><div class="gallery-icon"></div>Gallery
 <a href="javascript:void(0)" class="closebtn">&times;</a>
</div>

<div class="roomGallery">
<%
	data.forEach(function(log, index) {
		if(search == null || log.send_id.name.indexOf(search)>-1 || log.rece_id.name.indexOf(search)>-1|| log.name.indexOf(search)>-1 ){
			if(log.rtype == 'image'){
%>
 		<div>

				<div class="gallery-filebox">
					<div class="gallery-img">
						<img class="img-gallery"alt="<%= log.name %>" src="<%= log.url %>">
					</div>
					<div class="gallery-textbox">
		 			<div id="gallery-filename"><%= log.name %></div>
		 			<% if(log.send_id.email == user){ %>
		 			<div class="username">to : <%= log.rece_id.name %></div>
		 			<% }else{ %>
		 			<div class="username">from : <%= log.send_id.name %></div>
		 			<% } %>
		 			<div class="username"><%= moment(log.date).format('YY.MM.DD [(]dd[)] h:mm a') %></div>
 					</div>
 				</div>
 			<!-- <a type="button" href="<%= log.url %>" style="float:right;">Down</a> -->
 		</div>
<%			}
		}
	});
%>		
</div>
</body>