 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header" id="invite-title">
       <h4 class="modal-title" id="myModalLabel">Invite new member</h4>
     </div>
     <div class="modal-body" id="inviteBody" style="padding:0">
      <div class="member-select" style="padding:0">
      <input class="noti-modal fright" type="text" id="inviteSearch" placeholder="search">
      	<div id= "invite-back"></div>
      	<div class="panel-body" id="invite-pbody">
		<%
				var result = 1;
				friends.forEach(function(friends, index) {
					rUser.forEach(function(rUser, index){
						if(friends.friend.email == rUser){ 
							result=0;
						}
					});
					if(result){
					%>
						<div id="<%= friends.friend.email %>"  class='has-sub checks etrans active'>
							<input type="checkbox" id="inUser<%=index%>" class="roomInvite" value="<%= friends.friend.email %>">
							<label for="inUser<%=index%>" style="margin-top: 30px;"></label>
							<div id ="invite-profile" href='#'>
							   	<div id="invite-img" style="background-image:url(<%=friends.friend.user_img%>), url(https://s3-ap-northeast-1.amazonaws.com/archa-bucket/user-profile/background1.png);"></div>
								<div id="invite-fname" class="<%= friends.friend.name %>"><%= friends.friend.name %><br/>
								<div id="invite-position"><%= friends.friend.position %></div>
								<div id="invite-company"><%= friends.friend.company %></div><br/>
								</div><br/>					
							</div>
					   </div>
					<%	
					}
					result=1;
				});
		%>		      	
      	</div>		      
    </div>
    <div id="subtitle">invited</div>
	<div class="select-list"></div>
     </div>
     <div class="modal-footer">
       <button type="button" id="invite-confirm" class="btn btn-primary" data-dismiss="modal">Confirm</button>
       <button type="button" id="invite-cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
     </div>
   </div>
 </div>