<body>
<div class="roomArchivetitle fleft" id="roomLinks"><div class="links-icon"></div>Links
 <a href="javascript:void(0)" class="closebtn">&times;</a>
</div>
<div class="roomLinks">
<%
	log.forEach(function(log, index) {
		if(log.mtype == 'url'){
			if(search == null || log.og.title.indexOf(search)>-1 || log.url.indexOf(search)>-1  ){
%>
 		<div class="link-filebox">
 		
			<div class="url-link">
				<div id="link-img">
				<img src="http://www.google.com/s2/favicons?domain=<%= log.url %>"></div>
				<div id="titlelink">
				<a id="texturl" href="<%= log.url  %>" target="_blank"><%= log.url  %></a> 
				</div>
				
			</div>

			<div class="link-textbox">
				<div id="linkcontents">
					<%= log.og.title %>
				</div>
				
				 <div class="link-text">
						<% if(log.email == user){ %>
				 	<div>from : <%= log.name %></div>
				 		<% }else{ %>
				 	<div>to : <%= log.name %></div>
				 	<% } %>
		 			<div><%= moment(log.mdate).format('YY.MM.DD [(]dd[)] h:mm a') %></div>
 				</div>
 			</div>
 			<!-- <a type="button" href="<%= log.url %>" style="float:right;">Down</a> -->
 		</div>
<%			}	
		}
	});
%>		
</div>
</body>