<body>
  	<%
  		if(data){	
  			data.forEach(function(log, index) {
  				if(log.send_id.email == user.email){
  					if(log.send_id.name.indexOf(search)>-1 || log.send_id.name.indexOf(search)>-1 ||log.send_id.company.indexOf(search)>-1 ||log.send_id.position.indexOf(search)>-1 || log.send_id.email.indexOf(search)>-1 || log.name.indexOf(search)>-1){
  	%>
		  		<div>
		  			<% if(log.rtype == 'image'){ %>
		  			<div class="url">
		  				<img alt="<%= log.name %>" src="<%= log.url %>">
		  			</div>
		  			<% } %>
		  			<span><%= moment(log.date).format('YY.MM.DD [(]dd[)] h:mm a') %></span>
		  			<h4><%= log.name %></h4>
		  			<span>to : <%= log.rece_id.name %></span>
		  			<a type="button" href="<%= log.url %>" style="float:right;">Down</a>
		  		</div>
		  		<hr/>
  	<%
  					}
  				}
  			});
  		}
  	%>	  
</body>