<body>
<%
	if(req){
		req.forEach(function(req, index) { 
%>
<div class="request" id="<%= req.email %>">
	<div class="fleft">
		 <%= req.name %>
		 <%= req.position %>
		 <%= req.company %>
 	</div>
	<button type="button" id="<%= req.email %>" class="conn fleft">Connect</button>
	<button type="button" id="<%= req.email %>" class="dec">Decline</button>
</div>
<%
		});
	}
%>
</body>