<body>
<div id="relationResult">
<div id="top-side">
<div id="top-result">Respond to Connection Requests</div>
<%
	if(req){
		req.forEach(function(req, index) { 
%>
				<div id="<%= req.email %>"  class='request'>
					<div id ="connect-profile" href='#'>
					   <div id="connect-img" style='<%= "background-image:url(https://archa-bucket.s3-ap-northeast-1.amazonaws.com/"+req.email+"/userProfileImg/user_profile_img.png"%>'> </div>
						<div id="<%= req.name %>" class="connect-name"><%= req.name %><br/>
							<div id="<%= req.position %>" class="connect-position"><%= req.position %></div> 
							<div id="<%= req.company %>" class="connect-company"><%= req.company %></div><br/>
						</div>
					<button type="button" id="<%= req.email %>" class="conn fleft">Connect</button>
					<button type="button" id="<%= req.email %>" class="dec">Decline</button>						
</div>
				</div>
<%
		});
	}
%>
</div>
</div> 
</body>