<body>
<div id="relationResult">
<div id="top-side">
<div id="top-result">Search Result</div>
<%
		var chk=1;
		friends.forEach(function(friends, index) {
			user.friends.forEach(function(user, index){
				if(friends.email == user.friend.email){
					chk=0;
				}
			});
			if(chk && friends.email != me){
%>				
				<div id="topcontent"></div>
				<!-- 나 : <%= me %> -->
				<div id="<%= friends.email %>"  class='has-sub active'>
					<div id ="connect-profile" href='#'>
					   <div id="connect-img"> </div>
						<div id="connect-name" class="<%= friends.name %>"><%= friends.name %><br/>
							<div id="connect-position" class="<%= friends.position %>"><%= friends.position %></div>
							<div id="connect-company" class="<%= friends.company %>"><%= friends.company %></div> 
							<br/>
						</div>
						<button type="button" id="<%= friends.email %>" class="addRelation">Request</button>							
					</div>
				</div>
				
<%			}
			chk=1;
		});
%>
</div>
</div>
</body>