<body>
	<div class="nav nav-tabs" role="tablist" id="tabgs">
		
		<div class="col-lg-12 archiveback">
			  <div role="presentation"  id="tabgot" class="march active"><div id="textgot" href="#got" aria-controls="#got" role="tab" data-toggle="tab">Got</div></div>
			  <div role="presentation"  id="tabsent" class="march"><div id="textsent" href="#sent" aria-controls="#sent" role="tab" data-toggle="tab">Sent</div></div>
			
		 <div class="tab-content" id="tabcontent">
		  <div role="tabpanel" class="arch-tab tab-pane active" id="got">
		  	<%
		  		data.forEach(function(log, index) {
		  			if(log.rece_id.email == user){
		  				if(log.rtype != 'image'){
		  	%>
		  	<div class="filebox" id="<%= log.url %>">
			  				<!--css ppt icon  -->
				  			<% if(log.type == 'pptx'){ %>
				  			<div class="url" >
				  				<div class="pptx-image"></div>
				  			</div>
				  			<% } %>
				  			<!--css xlsx icon  -->
				  			<% if(log.type == 'xlsx'){ %>
				  			<div class="url" >
				  				<div class="xlsx-image"></div>
				  			</div>
				  			<% } %>
				  			<!--css pdf icon  -->
				  			<% if(log.type == 'pdf'){ %>
				  			<div class="url" >
				  				<div class="pdf-image"></div>
				  			</div>
				  			<% } %>
				  			<!--css doc icon  -->
				  			<% if(log.type == 'docx'){ %>
				  			<div class="url" >
				  				<div class="docx-image"></div>
				  			</div>
				  			<% } %>
				  			<!--css zip icon  -->
				  			<% if(log.type == 'zip'){ %>
				  			<div class="url" >
				  				<div class="zip-image"></div>
				  			</div>
				  			<% } %>
			  			<!-- css수정  -->
			  			<div class="textbox">
			  			<div class="file-name"><%= log.name %></div>
			  			<div class="to-name">From : <%= log.send_id.name %></div>
			  			<div class="file-date"><%= moment(log.date).format('YY.MM.DD [(]dd[)] h:mm a') %></div>
			  			</div>
			  			</div>
		  	<%			}
		  			}
		  		});
		  	%>			
          </div>
		  <div role="tabpanel" class="arch-tab tab-pane" id="sent">
		  	<%
		  		data.forEach(function(log, index) {
		  			if(log.send_id.email == user){
		  				if(log.rtype != 'image'){
		  	%>
				  		<div>
				  			<div><%= moment(log.date).format('YY.MM.DD [(]dd[)] h:mm a') %></div>
				  			<div><%= log.name %></div>
				  			<div>To : <%= log.rece_id.name %></div>
				  		</div>
				  		<hr/>
		  	<%			}
		  			}
		  		});
		  	%>	
		  </div>
		</div>
		</div>
		</div>
</body>