<body>
	<div class="nav nav-tabs" role="tablist" id="tabgs">
		
		<div class="col-lg-12 archiveback">
			  <div role="presentation"  id="tabgot" class="march active"><div id="textgot" href="#got" aria-controls="#got" role="tab" data-toggle="tab">Got</div></div>
			  <div role="presentation"  id="tabsent" class="march"><div id="textsent" href="#sent" aria-controls="#sent" role="tab" data-toggle="tab">Sent</div></div>
			
		 <div class="tab-content" id="tabcontent">
		  <div role="tabpanel" class="arch-tab tab-pane active" id="got">
		  	<%
		  		data.forEach(function(log, index) {
		  			if(log.rece_id.email == user){
		  				if(log.rtype == 'image'){
		  	%>
						  	<div class="gallery" id="<%= log.url %>">
					  			<div class="url" >
					  				<img class="gallery-image" alt="<%= log.name %>" src="<%= log.url %>">
					  			</div>
					  			
					  			<!--css 수정  -->
					  			<div class="gallerybox">
					  			<div class="gallery-file"><%= log.name %></div>
					  			<div class="gallery-name">From : <%= log.send_id.name %></div>
								<div class="gallery-date"><%= moment(log.date).format('YY.MM.DD [(]dd[)] h:mm a') %></div>
					  		</div>
					  		</div>
					  		
		  	<%			}
		  			}
		  		});
		  	%>			
          </div>
		  <div role="tabpanel" class="arch-tab tab-pane" id="sent">
		  	<%
		  		data.forEach(function(log, index) {
		  			if(log.send_id.email == user){
		  				if(log.rtype == 'image'){
		  	%>
				  	<div class="gallery" id="<%= log.url %>">
			  			<div class="url">
			  				<img class="gallery-image" alt="<%= log.name %>" src="<%= log.url %>">
			  			</div>
			  			</div>
			  			<div class="gallerybox">
			  			<div class="gallery-file"><%= log.name %></div>
			  			<div class="gallery-name">To : <%= log.rece_id.name %></div>
						<div class="gallery-date"><%= moment(log.date).format('YY.MM.DD [(]dd[)] h:mm a') %></div>
			  		</div>
			  			
		  	<%			}
		  			}
		  		});
		  	%>	
		  </div>
		</div>
		</div>
		</div>
</body>