<body>
<!-- 	<div class="container-fluid" style="padding: 0;">
	<div class="col-lg-12" style="padding: 0;"> -->
	<div class="mySection fright">
<!-- 		<div class="dropdown fleft">
		  <button class="dropdown-toggle" id="archiveinfo"type="button" data-toggle="dropdown" aria-expanded="true">
		    <span class="caret"></span>
		  </button>
		  <div class="dropdown-menu" role="menu">
		  <div id="tie">
		  	<div class="row">
		  	<div class="icon-folder-open category col-lg-12" id="ALL">  ALL</div>
		  	</div>
		  	<div class="row">
		  	<div class="icon-clone category col-lg-12" id="ARCHIVE">  ARCHIVE</div>
		  	</div>
		  	<div class="row">
		  	<div class="icon-file-image category col-lg-12" id="GALLERY">  GALLERY</div>
		  	</div>
		  	</div>
		<div id="tie">
		  	<div class="row">
		  	<div class="icon-folder-open category col-lg-12" id="ALL"></div><div class="font col-lg-7"> ALL</div>
		  	</div>
		  	<div class="row">
		  	<div class="icon-clone category col-lg-3" id="ARCHIVE"></div><div class="font col-lg-7">ARCHIVE</div>
		  	</div>
		  	<div class="row">
		  	<div class="icon-file-image category col-lg-3" id="GALLERY"></div><div class="font col-lg-7">GALLERY</div>
		  	</div>
		  	</div>
		  </div>
		</div> -->
		<div class="archiveName fleft" id="all">ALL</div>

		<div class="arcSearch fright">
			
			<input type="text" id="" class="archiveInputSearch">
			<div id="bar"></div>
		</div>

	</div>
	<!-- </div>	
	</div> -->
	<div role="tabpanel" id="dataList">
		<div class="nav nav-tabs" role="tablist" id="tabgs">
		
		<div class="col-lg-12 archiveback">
			  <div role="presentation"  id="tabgot" class="march active"><div id="textgot" aria-controls="#got" role="tab" data-toggle="tab">Got</div></div>
			  <div role="presentation"  id="tabsent" class="march"><div id="textsent"  aria-controls="#sent" role="tab" data-toggle="tab">Sent</div></div>
			
		 <div class="tab-content" id="tabcontent">
		  <div role="tabpanel" class="arch-tab tab-pane active" id="got">
		  	<%
		  		data.forEach(function(log, index) {
		  			if(log.rece_id.email == user){
		  	%>
				  		<div class="filebox" id="<%= log.url %>">
				  			<% if(log.rtype == 'image'){ %>
				  			<div class="url" >
				  				<img class="url-image" alt="<%= log.name %>" src="<%= log.url %>">
				  			</div>
				  			<% } %>
				  			<!--css ppt icon  -->
				  			<% if(log.type == 'pptx'){ %>
				  			<div class="url" >
				  				<div class="pptx-image"></div>
				  			</div>
				  			<% } %>
				  			<!--css xlsx icon  -->
				  			<% if(log.type == 'xlsx'){ %>
				  			<div class="url" >
				  				<div class="xlsx-image"></div>
				  			</div>
				  			<% } %>
				  			<!--css pdf icon  -->
				  			<% if(log.type == 'pdf'){ %>
				  			<div class="url" >
				  				<div class="pdf-image"></div>
				  			</div>
				  			<% } %>
				  			<!--css doc icon  -->
				  			<% if(log.type == 'docx'){ %>
				  			<div class="url" >
				  				<div class="docx-image"></div>
				  			</div>
				  			<% } %>
				  			<!--css doc icon  -->
				  			<% if(log.type == 'zip'){ %>
				  			<div class="url" >
				  				<div class="zip-image"></div>
				  			</div>
				  			<% } %>
				  			<!--css 수정  -->
				  			<div class="textbox">
				  			<div class="file-name"><%= log.name %></div>
				  			<div class="from-name">From : <%= log.send_id.name %></div>
				  			<div class="file-date"><%= moment(log.date).format('YY.MM.DD [(]dd[)] h:mm a') %></div>
				  			</div>
<!-- 				  			<div id="archive-delete"></div>
				  			<div id="archive-link"></div>
				  			<div id="archive-download"></div> -->
				  		</div>
				  		
		  	<%
		  			}
		  		});
		  	%>			
          </div>
		  <div role="tabpanel" class="arch-tab tab-pane" id="sent">
		  	<%
		  		data.forEach(function(log, index) {
		  			if(log.send_id.email == user){
		  	%>
				  		<div class="filebox" id="<%= log.name %>">
				  			<% if(log.rtype == 'image'){ %>
				  			<div class="url" >
				  				<img class="url-image" alt="<%= log.name %>" src="<%= log.url %>" >
				  			</div>
				  			<% } %>
				  			<!--css ppt icon  -->
				  			<% if(log.type == 'pptx'){ %>
				  			<div class="url" >
				  				<div class="pptx-image"></div>
				  			</div>
				  			<% } %>
				  			<!--css xlsx icon  -->
				  			<% if(log.type == 'xlsx'){ %>
				  			<div class="url" >
				  				<div class="xlsx-image"></div>
				  			</div>
				  			<% } %>
				  			<!--css pdf icon  -->
				  			<% if(log.type == 'pdf'){ %>
				  			<div class="url" >
				  				<div class="pdf-image"></div>
				  			</div>
				  			<% } %>
				  			<!--css doc icon  -->
				  			<% if(log.type == 'docx'){ %>
				  			<div class="url" >
				  				<div class="docx-image"></div>
				  			</div>
				  			<% } %>
				  			<!--css doc icon  -->
				  			<% if(log.type == 'zip'){ %>
				  			<div class="url" >
				  				<div class="zip-image"></div>
				  			</div>
				  			<% } %>
				  			<!--css 수정  -->
				  			<div class="textbox">
				  			<div class="file-name"><%= log.name %></div>
				  			<div class="to-name">To : <%= log.rece_id.name %></div>
				  			<div class="file-date"><%= moment(log.date).format('YY.MM.DD [(]dd[)] h:mm a') %></div>
				  			</div>
				  		</div>
				  		
		  	<%
		  			}
		  		});
		  	%>		
          </div>
		</div>
	</div>
		
	</div>
		

	</div>
</body>