<body>
<div class="friendInfo">
	<div class="close" id="rigthClose">X</div>
	<div class="friendPicture"></div>
	<div class="status"></div>
	<div class="friendName">Teasik Kim</div>
	<div class="info">
		<div>Title</div>
		<div class="title" ><%= user.position %></div>
		<div>Company</div>
		<div class="company"><%= user.company %></div>
		<div>E-mail</div>
		<div  class="email"><%= user.email %></div>
		<div>Phone</div>
		<div class="phone"><%= user.phoneNumber %></div>	
	</div>
	<div class="button">
		<button class="message" id="<%= user.email %>">Message</button>
		<button class="profile_detail"  id="<%= user.email %>">Profile</button>
	</div>
</div>
</body>