<body>
<div class="friendInfo">
<a href="javascript:void(0)" class="closebtn">&times;</a>
	<div class="status"></div>
	<div class="friendPicture"></div>
	<div class="friendName"><%= user.name %></div>
	<div class="rightsec-info">
		<div class="title-tab">Title</div>
		<div class="title-text" ><%= user.position %></div>
		<div class="title-tab">Company</div>
		<div class="title-text"><%= user.company %></div>
		<div class="title-tab">E-mail</div>
		<div  class="title-text"><%= user.email %></div>
		<div class="title-tab">Phone</div>
		<div class="title-text"><%= user.phoneNumber %></div>	
	</div>
	<div class="button">
		<button class="message" id="<%= user.email %>">Message</button>
		<form action="/profile" method="post">
			<input type="hidden" name="userId" value="<%= user.email %>">
			<button type="submit" class="profile_detail"  id="<%= user.email %>">Profile</button>
		</form>
		
	</div>
</div>
</body>