<body>
		<div class="menuTop">
		  <div class="nav fleft">
		    <span id="myMenu" class="ion-android-menu"></span>
		  </div>
		</div>
		<input type="hidden" id="userId" value='<%= user.name %>'>
		
		<div class="myInfo">
			<div id="<%= user.email %>" class="myInfoView">
				<input type="text" id="name" name="name" class="<%= user.name %> info" value='<%= user.name %>' disabled="disabled">
				<input type="text" id="company" name="company" class="<%= user.company %> info" value="<%= user.company %>" disabled="disabled">
				<input type="text" id="position" name="position" class="<%= user.position %> info" value="<%= user.position %>" disabled="disabled">
			</div>
		</div>
		
		<div class="func">
			<ul class="nav nav-tabs back tabsize" role="tablist" id="leftTab">
				<li role="presentation" class="lisize active" id="friendsList">
					<a id="getFriendList" href="#fd" aria-controls="Friends" role="tab" data-toggle="tab" aria-expanded="true"></a>
				</li>
				<li role="presentation" class="lisize" id="roomList">
					<a id="getRoomList" href="#rm" aria-controls="Rooms" role="tab" data-toggle="tab"></a>
				</li>
			</ul>
			<div class="memberSection">
				<input id="inputAll" type="text" class="form-control" placeholder="all user">
				<button type="button" class="id btn btn-default" id="searchAllBtn"></button>
				<input id="inputSearchMember" type="text" class="form-control" placeholder="My Friend">
				<button type="button" class="id btn btn-default" id="searchFriendBtn"></button>
			</div>			
			<div class="tab-content leftTab">
				<div role="tabpanel" class="tab-pane active" id="fd">	
					<!-- 검색된 친구 결과를 여기다 표시해준다  -->
					<div id='cssmenu' class="searchResult">
						<% 
							groups.forEach(function(group, index){
						%>
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
						  <div class="panel panel-default">
						    <div class="panel-head" role="tab" id="heading<%= index %>">
						      <h4 class="panel-title">
						        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
						          <%= group %>
						        </a>
						        <% if(group != 'default'){%>
						        <button type="button" id="<%= group %>" class="addUser">+</button>
						        <button type="button" id="<%= group %>" class="setting">Setting</button>
						        <% }%>
						      </h4>
						    </div>
						    <div id="collapse<%= index %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading<%= index %>">
						      <div class="panel-body">
								<%
										friends.forEach(function(friends, index) { 
											if(group==friends.groupname){
								%>
										<ul>
											<li id="<%= friends.friend.email %>"  class='active has-sub'>
												<a href='#'>
													<span id="fname" class="<%= friends.friend.email %>"><%= friends.friend.name %></span><br/>
													<span><%= friends.friend.company %></span> / 
													<span><%= friends.friend.position %></span><br/>
													<button type="button" id="<%= friends.friend.email %>" class="friendAdd">ADD</button>
													<!-- <button type="button" id="<%= friends.friend.email %>" class="friendDelete">DEL</button> -->
												</a>
										   </li>
										</ul>
								<% 			}
										});
								%>
							  </div>
						    </div>
						  </div>
						</div>
						<%
							});
						%>
					</div>  
				</div>
				
				<div role="tabpanel" class="tab-pane" id="rm">
					<div id="room-list">
					</div>
				</div>
			</div>
		</div>		

		<div class="modal" id="friendInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		</div>

		
		<div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" id="myModalLabel">그룹생성</h4>
		      </div>
		      <div class="modal-body">
				<input type="text" class="form-control" id="groupname" name="groupname" placeholder="groupname">	      	
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
		        <button type="button" id="addGroup" class="btn btn-primary" data-dismiss="modal">확인</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		<div class="modal fade" id="settModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" id="settLabel"></h4>
		      </div>
		      <div class="modal-body" id="setBody">
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
		        <button type="button" id="addGroup" class="btn btn-primary" data-dismiss="modal">확인</button>
		      </div>
		    </div>
		  </div>
		</div>
		<button type="button" class="id btn" id="setGroup">ADD GROUP</button>
</body>