<<<<<<< HEAD

<div class="dtprofile-background">

	<div class="container">
	 <div class="row">
		<div class="col-md-12">
			<div class="dtprofile-contents">
				<div class="row">
					<div id="dtprofile-icon"></div>
					<div class="dtprofile-title">PROFILE</div>
					<div id="dtprofile-closebtn"><a href="/chatPage">X</a></div>
				</div>
				<div class="row">	
					<div class="dtprofile-image">
						<div class="dtprofile-onoff"></div>
						<div class="dtprofile-name"><%= user.name %></div>
					</div>	
					<div class="dtprofile-text">
						<div class="dt-title">TITLE</div>
						<div class="dt-text"><%= user.position %></div>
						<div class="dt-title">COMPANY</div>
						<div class="dt-text"><%= user.company %></div>
						<div class="dt-title">EMAIL Address</div>
						<div class="dt-text"><%= user.email %></div>
						<div class="dt-title">Phone Number</div>
						<div class="dt-text"><%= user.phoneNumber %></div>
  
					</div>
				</div>	
			</div>
			
		<div class="dtprofile-setting">
			<div class="row">
				<div id="dtsetting-icon"></div>
				<div class="dtprofile-title">Account Setting</div>
			</div>

			<div class="setting-title">E-mail Address</div>
			<div class="setting-line"></div>
			<div class="setting-text">

				<div class="inputtext">Current E-mail Address</div>
					<div class="phoneform">
					  <input type="text" class="form-control" id="emailAdress">
					</div>
				<div class="inputtext">New E-mail Address</div>
					<div class="phoneform">
					  <input type="text" class="form-control" id="emailAdress">
					</div>
						<button class="account-message" id="<%= user.email %>">Update E-mail</button>
			</div>
			
			
			
			<div class="setting-title">Phone Number</div>
			<div class="setting-line"></div>
			<div class="setting-text">

				<div class="inputtext">Current Phone number</div>
					<div class="phoneform">
					  <select class="form-control" id="emailPhone"> 
					  <option>+82</option>
					  <option>+61</option> 
					  <option>+33</option> 
					  <option>+60</option> 
					  <option>+13</option> 
					  </select>
					  <input type="text" class="form-control" id="phoneNumber">
					  	<button class="profile-message" id="<%= user.email %>">Message</button>
					</div>
				<div class="inputtext">New Phone number</div>
					<div class="phoneform">
					  <select class="form-control" id="emailPhone"> 
					  <option>+82</option>
					  <option>+61</option> 
					  <option>+33</option> 
					  <option>+60</option> 
					  <option>+13</option> 
					  </select>
					  <input type="text" class="form-control" id="phoneNumber">
					  <button class="profile-message" id="<%= user.email %>">Message</button>
					</div>
			</div>
			
			
			<div class="setting-title">Password</div>
			
			
			<div class="setting-signout">
			</div>
			
		
		</div>	
	  </div>
	 </div>
	</div>
</div>

=======
<body>
<div>top</div>
<a href="/chatPage">X</a>
<div><%= user.email %></div>
<%= user.name %>
<div></div>
<div></div>
</body>
>>>>>>> branch 'master' of https://github.com/KimTaesik/Archa.git
