<div class="dtprofile-background">
<% if(perr){%>
	<script type="text/javascript">
	alert('비밀번호가 일치하지 않습니다.');
	</script>
<% }%>
	<div class="container" style="padding:0;">
	 <div class="row" style="margin:0;">
		<div class="col-md-12" style="padding:0;">
			<div class="dtprofile-contents">
				<div class="row" style="height: 80px;">
					<div id="dtprofile-icon"></div>
					<div class="dtprofile-title">PROFILE</div>
				</div>
				<div class="row" style="height: 345px;">	
					<div class="dtprofile-image" style="background-image: url(<%= user.user_img%>), url(https://s3-ap-northeast-1.amazonaws.com/archa-bucket/user-profile/background1.png);">
						<!-- <div class="dtprofile-onoff"></div> -->
						<div class="dtprofile-name"><%= user.name %></div>
					</div>	
					<div class="dtprofile-text">
						<div class="dt-title">TITLE</div>
						<div class="dt-text" id="myTitle"><%= user.position %></div>
						<div class="dt-title">COMPANY</div>
						<div class="dt-text" id="myCom"><%= user.company %></div>
						<div class="dt-title">EMAIL Address</div>
						<div class="icon-mail fleft"></div>
						<div class="dt-text" id="myEmail" style="float: right;margin-left: 8px;"><%= user.email %></div>
						<div class="dt-title">Phone Number</div>
						<div class="icon-phone"></div>
						<div class="dt-text" id="myPh" style="margin-left: 25px;"><%= user.phoneNumber %></div>
  
					</div>
				</div>	
			</div>
			
		<div class="dtprofile-setting">
			<div class="row" style="height: 75px;">
				<div id="dtsetting-icon"></div>
				<div class="dtprofile-title">Account Setting</div>
			</div>
			
<!-- 			<div class="setting-title emailad">E-mail Address<button class="email-edit">EDIT</button></div>
			<div id="email-table">
			</div> -->
			<div class="userCompany">
				<div class="setting-title com">Company<button class="edit" id="com">EDIT</button><button class="setting-close" id="comcl" hidden>CLOSE</button></div>
				<div id="company-table" hidden>
					<div class="setting-line"></div>
		            <div class="setting-text">
		            	<div class="inputtext">Current Company</div>
			    		<div class="inputform">
		                <input type="text" class="form-control" id="currentCom"></div>
		                <div class="inputtext">New Company</div>
		                <div class="inputform">
		                <input type="text" class="form-control" id="newCom"></div>
		                <button class="account-message" id="updateCom">Update Company</button>
		            </div>
				</div>
			</div>

			<div class="userTitle">
				<div class="setting-title ti">Title<button class="edit" id="tit">EDIT</button><button class="setting-close" id="ticl" hidden>CLOSE</button></div>
				<div id="title-table" hidden>
					<div class="setting-line"></div>
		            <div class="setting-text">
		            	<div class="inputtext">Current Title</div>
			    		<div class="inputform">
		                <input type="text" class="form-control" id="currentTitle"></div>
		                <div class="inputtext">New Title</div>
		                <div class="inputform">
		                <input type="text" class="form-control" id="newTitle"></div>
		                <button class="account-message" id="updateTitle">Update Title</button>
		            </div>
				</div>
			</div>
			
			<div class="userPh">
				<div class="setting-title phondnm">Phone Number<button class="edit" id="ph">EDIT</button><button class="setting-close" id="phcl" hidden>CLOSE</button></div>
				<div id="phone-table" hidden>
					<div class="setting-line ph"></div>
					<div class="setting-text ph">
						<div class="inputtext">Current Phone number</div>
						<div class="inputform">
							<select class="form-control" id="emailPhone">
								<option>+82</option>
								<option>+01</option>
								<option>+81</option>
								<option>+86</option>
								<option>+61</option>
								<option>+44</option>
								<option>+63</option>
								<option>+852</option>
								<option>+66</option>
						  	</select>
							<input type="text" class="form-control" id="currentPh" placeholder="010-0000-0000">
						</div>
						<div class="inputtext">New Phone number</div>
						<div class="inputform">
							<select class="form-control" id="emailPhone">
								<option>+82</option>
								<option>+01</option>
								<option>+81</option>
								<option>+86</option>
								<option>+61</option>
								<option>+44</option>
								<option>+63</option>
								<option>+852</option>
								<option>+66</option>
							</select>
							<input type="text" class="form-control" id="newPh" placeholder="010-0000-0000">
						</div>
						<button class="account-message" id="updatePh">Update Phone</button>
			    	</div>
				</div>
			</div>
			
			<div class="userPwd">
				<div class="setting-title passwd">Password<button class="edit" id="pass">EDIT</button><button class="setting-close" id="passcl" hidden>CLOSE</button></div>
				<div id="pass-table" hidden>
					<div class="setting-line"></div>
		            <div class="setting-text">
		            	<div class="inputtext">Current Password</div>
			    		<div class="inputform">
		                <input type="text" class="form-control" id="currentPwd"></div>
		                <div class="inputtext">New Password</div>
		                <div class="inputform">
		                <input type="text" class="form-control" id="newPwd"></div>
		                <button class="account-message" id="updatePwd">Update Password</button>
		            </div>
				</div>
			</div>
			
			<div class="userDelete">
				<div class="setting-signout signot">Sign Out<button class="edit" id="out">EDIT</button><button class="setting-close" id="outcl" hidden>CLOSE</button></div>
				<div id="sign-table" hidden>
					<div class="setting-line so"></div>
					<div class="setting-text so">
						<div class="inputtext">Confirm your password</div>
					<div class="inputform">
					<input type="text" class="form-control" id="outPwd"></div>
					<button class="account-signout" id="signOut">Sign out</button></div>
				</div>
			</div>

		</div>
		</div>	
	  </div>
	 </div>
	</div>	
</body>
</html>
